<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-309">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo-2.svg" alt="logo" width="178" height="32">
            </a>
            <p class="cs-text">
                Chokdee Thai Cuisine brings authentic Bangkok flavors to the Yorkshire Dales. We offer traditional Thai dishes and welcoming Thai hospitality.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Quick Links</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about/">About Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reviews/">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact/">Contact Us</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Food Menu</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/menu/">Menu</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/set-menu/">Set Menu</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/phone-w.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pin.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href="{{client.address.mapLink}}" target="_blank" rel="noopener">
                    {{client.address.lineOne}}, <br>{{client.address.city}}, {{client.address.zip}}
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Designed and Hand Coded by <a class="cs-copyright-link" href="https://splendidsites.com/">Splendid Sites</a> © 2024</span>
    </div>
</footer>
                                
