---
title: 'About | Chokdee Thai Cuisine | Ilkley'
description: "Discover the story behind Chokdee Thai Cuisine. From Bangkok's top kitchens to Ilkley, our owners bring authentic Thai flavors and hospitality to the Yorkshire Dales."
preloadImg: '/assets/images/banner.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="pad krapao" loading="eager" width="2500" height="1667">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/gallery/1.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/gallery/1.webp">
            <img loading="lazy" decoding="async" src="/assets/images/gallery/1.webp" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Our Chokdee Journey</h2>
            <p class="cs-text">
                Chokdee means "Good Luck" in Thai, and for us - Mod and Eak - it's the realization of our lifelong dream.
            </p>
            <p class="cs-text">
                As head chef, Mod's culinary passion began in her hometown of Uttaradit, Northern Thailand. Her journey led her through culinary studies and into prestigious kitchens, honing the skills you'll taste in every dish.
            </p>
            <p class="cs-text">
                Eak, our restaurant manager, brings over two decades of Bangkok hospitality experience. Since 1997, he's been crafting exceptional dining experiences for guests.
            </p>
            <p class="cs-text">
                Our story began at Bussaracum Thai Cuisine, one of Thailand's oldest and first fine dining Thai restaurants. It was here that Mod started her training as a chef and where we first met. Our shared love for Thai cuisine blossomed in this prestigious establishment. Our journey then took us to the famous Blue Elephant restaurant, where we further refined our skills serving international celebrities and diplomats.
            </p>
            <p class="cs-text">
                In 2005, Mod's culinary adventure led her to Russia, where she played a key role in Blue Elephant's international expansion.
            </p>
            <p class="cs-text">
                We brought our expertise to the UK in 2008, working in several high-profile Asian Fusion and Thai restaurants across the country.
            </p>
            <p class="cs-text">
                December 2022 marked a new chapter in our lives when we acquired Chokdee Thai Cuisine, finally fulfilling our dream of running our own restaurant.
            </p>
            <p class="cs-text">
                At Chokdee, we blend our years of experience with our deep love for Thai cuisine. Every dish we serve reflects our journey - from the streets of Bangkok to the heart of Ilkley. We invite you to join us and experience the authentic flavors of Thailand, served with our warm smiles and a touch of "good luck".
            </p>
        </div>
    </div>
</section>
                                



{% endblock %}