---
title: 'Reviews | Chokdee Thai Cuisine | Ilkley'
description: 'See what diners are saying about Chokdee Thai Cuisine. Read authentic reviews of our traditional Thai dishes and warm hospitality in the heart of Ilkley.'
preloadImg: '/assets/images/banner.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Reviews</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/reviews/" class="cs-link cs-active">Reviews</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="pad krapao" loading="eager" width="2500" height="1667">
    </picture>
</div>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    All round excellent, the quality of the food was superb as was the hospitality, ambiance and price. We eat a lot of Thai food both in Thailand and in Europe and this was up there with the best, a very pleasant surprise, will not hesitate to return.
                </p>
                <div class="star-group">
                    <span class="name">A J</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Great local Thai restaurant. The staff is so lovely and the ambiance is very relaxed and lovely for eating in. However, the food is the real draw, of course! Excellent, flavourful dishes with enough variety you can order both classic dishes or try something new. Highly recommend!
                </p>
                <div class="star-group">
                    <span class="name">Clare Richardson-Barlow</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Amazing food and service- love going here each year for my birthday!
                </p>
                <div class="star-group">
                    <span class="name">Deborah Henney</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Amazing food and great service.  Lovely friendly staff, but it was quiet and shouldn’t be as the food was fabulous.  Both my daughter and I shared a mixed platter for starters and had different mains, could not fault it all.
                </p>
                <div class="star-group">
                    <span class="name">Sarah Mayrick</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Beautiful food and fantastic service! Everything tasted really fresh, and the menu had a good selection. I’m vegetarian and had the spring rolls and green curry, which were both lovely. Highly recommend, can’t wait to go back.
                </p>
                <div class="star-group">
                    <span class="name">C M</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    After reading reviews we ate here on Friday evening & weren't disappointed. Very helpful lady happy to explain the menu, very good service, extremely tasty food & definitely worth a visit. Our next visit to Ilkley will certainly include a visit here. Would definitely recommend.
                </p>
                <div class="star-group">
                    <span class="name">Stephanie Marshall</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>     
        </div>
    </section>

    <!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <a href="https://www.google.com/search?q=chok+dee+ilkley&rlz=1C5CHFA_enTH953TH953&oq=chok&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7Mg0IARAuGNQCGLEDGIAEMgYIAhBFGDkyCggDEAAYsQMYgAQyBggEEEUYPTIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE2MjJqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#lrd=0x487bfbd2ae077513:0x7e42bbc4d856efa5,3,,,," target="_blank" rel="noopener" class="cs-button-solid">Leave A Review</a>
        </div>
    </div>
</section>
                                


{% endblock %}