---
title: 'Set Menu | Chokdee Thai Cuisine | Ilkley'
description: "Discover Chokdee's set menus for a complete Thai dining experience. Choose from our curated selection, including vegetarian options. Enjoy authentic flavors in Ilkley."
preloadImg: '/assets/images/banner.webp'
permalink: 'set-menu/'
eleventyNavigation:
    key: Set Menu
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/set-menu.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Set Menu</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/set-menu/" class="cs-link cs-active">Set Menu</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="pad krapao" loading="eager" width="2500" height="1667">
    </picture>
</div>

   <!-- ============================================ -->
<!--                    Pricing                   -->
<!-- ============================================ -->

<section id="pricing-1753">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Chokdee Set Menu</h2>
            <h3 class="cs-h2">£32 Per Person</h3>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Mixed Starter
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Chokdee Satay</span>
                        <p class="cs-item-text">
                            Grilled marinated chicken served with peanut sauce. <br> <span class="cs-color">* Contains: gluten, peanuts</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Thai Fish Cake</span>
                        <p class="cs-item-text">
                            Fish mixed with red curry paste, long beans and Thai herbs. Served with sweet chilli. <br> <span class="cs-color">* Contains: fish, soya</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Spring Roll</span>
                        <p class="cs-item-text">
                            Crispy deep-fried mixed vegetables and vermicelli, wrapped in pastry, served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Golden Bag</span>
                        <p class="cs-item-text">
                            Crispy deep-fried mixed vegetables wrapped in pastry bags and served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten, peanuts</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Prawn Torpedo</span>
                        <p class="cs-item-text">
                            Deep-fried prawn served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten, egg, soya, crustacean</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Main Course
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Chicken Green Curry / Red Curry</span>
                        <p class="cs-item-text">
                            A choice of 2 Thai classics; red or green curry served with chicken.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Beef in Oyster Sauce</span>
                        <p class="cs-item-text">
                            Stir fried beef and mixed vegetables. <br> <span class="cs-color">* Contains: soya, crustacean</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Prawn Cashew Nut</span>
                        <p class="cs-item-text">
                            Stir-fried prawn, cashew nut and mixed vegetables. <br> <span class="cs-color">* Contains: nut, gluten, molluse </span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Laab Gai</span>
                        <p class="cs-item-text">
                            Minced chicken mixed with Thai herbs, spring onion, chilli and lime. <br> <span class="cs-color">* Contains: fish sauce</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Stir Fried Mixed Veg</span>
                        <p class="cs-item-text">
                            Stir-fried broccoli, carrot, beansprout, mangetout, and cauliflower in savory sauce. <br> <span class="cs-color">* Contains: gluten, soya</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Rice Options
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Steamed Jasmine Rice</span>
                        <p class="cs-item-text">
                            Thai aromatic long-grain rice
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Egg Fried Rice</span>
                        <p class="cs-item-text">
                            Fluffy jasmine rice, scrambled eggs, soy sauce. <br> <span class="cs-color">* Contains: egg, soya</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Dessert
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Bannana Fritter with Vanilla Ice Cream</span>
                        <p class="cs-item-text">
                            Bananas dipped in a light, airy batter, then fried to a golden perfection and served with vanilla ice cream.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Pricing                   -->
<!-- ============================================ -->

<section id="pricing-1754">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Vegetarian Set Menu</h2>
            <h3 class="cs-h2">£28 Per Person</h3>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Starter
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Golden Bags</span>
                        <p class="cs-item-text">
                            Crispy deep-fried mixed vegetables wrapped in pastry bags and served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten, peanuts</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Spring Roll</span>
                        <p class="cs-item-text">
                            Crispy deep-fried mixed vegetables and vermicelli, wrapped in pastry, served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Thai Corn Cake</span>
                        <p class="cs-item-text">
                            A Thai street-food snack made from sweetcorn. Served with sweet chilli sauce. <br> <span class="cs-color">* Contains: gluten</span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Mix Vegetable Tempura</span>
                        <p class="cs-item-text">
                            Deep-fried battered mixed vegetables served with sweet chilli sauce  <br> <span class="cs-color">* Contains: gluten</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Main Course
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Vegetable Green Curry / Red Curry</span>
                        <p class="cs-item-text">
                            A choice of 2 Thai classics; red or green curry served with vegetables.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Stir Fried Tofu and Ginger</span>
                        <p class="cs-item-text">
                            Stir fried tofu and ginger in a savory sauce <br> <span class="cs-color">* Contains: soya </span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Stir Fried Krapow with Tofu</span>
                        <p class="cs-item-text">
                            Stir-fried Tofu, Thai Holy Basil and mixed veg. <br> <span class="cs-color">* Contains: soya </span> 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Stir Fried Mixed Veg</span>
                        <p class="cs-item-text">
                            Stir-fried broccoli, carrot, beansprout, mangetout, and cauliflower in savory sauce. <br> <span class="cs-color">* Contains: gluten, soya</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Rice Options
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Steamed Jasmine Rice</span>
                        <p class="cs-item-text">
                            Thai aromatic long-grain rice
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Coconut Rice</span>
                        <p class="cs-item-text">
                            Jasmine rice simmered in a blend of creamy coconut milk.<br> <span class="cs-color">* Contains: coconut milk</span> 
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        Dessert
                    </h3>
                    <div class="cs-item-wrapper">
                        <span class="cs-package">Bannana Fritter with Vanilla Ice Cream</span>
                        <p class="cs-item-text">
                            Bananas dipped in a light, airy batter, then fried to a golden perfection and served with vanilla ice cream.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                



{% endblock %}