/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-48 {
    padding: var(--sectionPadding);
    padding-top: 0;
    position: relative;
  }
  #gallery-48 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-48 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-48 .cs-title,
  #gallery-48 .cs-text {
    max-width: 100%;
  }
  #gallery-48 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1rem);
    margin: 0;
  }
  #gallery-48 .cs-image-group {
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 8px - 20px */
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #gallery-48 .cs-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* 8px - 20px */
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #gallery-48 .cs-picture {
    width: 100%;
    position: relative;
    display: block;
  }
  #gallery-48 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  #gallery-48 .cs-row-1 .cs-picture-1 {
    height: 35.4375em;
  }
  #gallery-48 .cs-row-1 .cs-picture-2 {
    height: 39.3125em;
  }
  #gallery-48 .cs-row-1 .cs-picture-3 {
    height: 32em;
  }
  #gallery-48 .cs-row-2 .cs-picture-1 {
    height: 30.75em;
  }
  #gallery-48 .cs-row-2 .cs-picture-2 {
    height: 32.3125em;
  }
  #gallery-48 .cs-row-2 .cs-picture-3 {
    height: 39.3125em;
  }
  #gallery-48 .cs-row-3 .cs-picture-1 {
    height: 39.0625em;
  }
  #gallery-48 .cs-row-3 .cs-picture-2 {
    height: 28.25em;
  }
  #gallery-48 .cs-row-3 .cs-picture-3 {
    height: 39.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-48 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
    padding-top: 0;
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #content-1450 .cs-title,
  body.dark-mode #content-1450 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #content-1450 .cs-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1026 {
    padding: var(--sectionPadding);
    padding-top: 0;
  }
  #pricing-1026 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing-1026 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 46.125rem;
    /* 24px - 48px */
    padding: 3rem clamp(1.5rem, 3.5vw, 3rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-top: none;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #pricing-1026 .cs-title {
    margin: 0;
    /* frees the :after element from the cs-title parent. It's now relative to the cs-content parent */
    display: contents;
  }
  #pricing-1026 .cs-title:after {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    /* 20px - 32px */
    margin: clamp(1.25rem, 3vw, 2rem) 0;
    background: #c7c7c7;
    opacity: 1;
    position: relative;
    display: block;
  }
  #pricing-1026 .cs-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1.25rem;
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-1026 .cs-menu-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-1026 .cs-menu-item {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }
  #pricing-1026 .cs-h3 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
  }
  #pricing-1026 .cs-h3:before {
    /* grey line */
    content: "";
    width: 60%;
    height: 1px;
    background-image: linear-gradient(90deg, #c7c7c7, #c7c7c7 75%, transparent 75%, transparent 100%);
    background-size: 6px 6px;
    border: none;
    opacity: 1;
    display: block;
    order: 2;
    z-index: -1;
  }
  #pricing-1026 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: auto;
    max-width: 70%;
    color: var(--headerColor);
    display: block;
    flex: none;
  }
  #pricing-1026 .cs-price {
    /* 25px - 31px */
    font-size: clamp(1.6525rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: bold;
    color: var(--primary);
    order: 3;
  }
  #pricing-1026 .cs-menu-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #pricing-1026 .cs-picture {
    width: 100%;
    height: 72vw;
    display: block;
    /* sends it to the top */
    order: -1;
    position: relative;
  }
  #pricing-1026 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1026 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #pricing-1026 .cs-content {
    width: 66%;
    border-left: none;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #pricing-1026 .cs-menu-group {
    width: 100%;
  }
  #pricing-1026 .cs-picture {
    width: 100%;
    height: auto;
    max-width: 33.875rem;
    max-height: 1000%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-1026 .cs-title,
  body.dark-mode #pricing-1026 .cs-header,
  body.dark-mode #pricing-1026 .cs-menu-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-1026 .cs-menu-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-378 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #gallery-378 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-378 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-378 .cs-title,
  #gallery-378 .cs-text {
    max-width: 100%;
  }
  #gallery-378 .cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #gallery-378 .cs-image {
    border-radius: 1.25rem;
    width: 46%;
    /* 150px - 300px */
    height: clamp(9.375rem, 39vw, 18.75rem);
    max-width: 21.875rem;
    /* clips the image corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #gallery-378 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-378 .cs-image {
    width: 23.8%;
    /* 300px - 400px */
    height: clamp(18.75rem, 30vw, 25rem);
    aspect-ratio: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-378 {
    background-color: var(--dark);
  }
  body.dark-mode #gallery-378 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #gallery-378 .cs-title,
  body.dark-mode #gallery-378 .cs-text {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1636 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1636:before {
    content: '';
    width: 100%;
    height: 70%;
    background: #2B1205;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1636 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 9vw, 6.25rem);
  }
  #sbs-1636 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1636 .cs-flex {
    max-width: 38rem;
  }
  #sbs-1636 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #sbs-1636 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1636 .cs-text {
    margin-bottom: 1rem;
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1636 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1636 .cs-picture {
    width: 100%;
    height: 90vw;
    /* 340px - 620px */
    max-height: clamp(21.25rem, 45vw, 38.75rem);
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1636 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1636:before {
    height: 63%;
  }
  #sbs-1636 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }
  #sbs-1636 .cs-flex {
    width: 50%;
    text-align: left;
    max-width: 38rem;
  }
  #sbs-1636 .cs-title {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1636:before {
    background-color: #1E0D04;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-263 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #reviews-263 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-263 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-263 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #reviews-263 .cs-title,
  #reviews-263 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #reviews-263 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  #reviews-263 .cs-item {
    text-align: center;
    list-style: none;
    max-width: 23.75rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 20px - 25px */
    gap: clamp(1.25rem, 3vw, 1.5rem);
  }
  #reviews-263 .cs-icon {
    /* 24px - 30px */
    width: clamp(1.5rem, 2vw, 1.875rem);
    height: auto;
    display: block;
  }
  #reviews-263 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #reviews-263 .cs-name {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #reviews-263 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #reviews-263 .cs-background:before {
    /* black overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #reviews-263 .cs-background:after {
    /* brown overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primaryLight);
    opacity: 0.2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #reviews-263 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-263 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    /* 16px - 20px */
    column-gap: clamp(1rem, 1.5vw, 1.25rem);
    row-gap: 2.875rem;
  }
  #reviews-263 .cs-item {
    /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
    width: clamp(31.5%, 30vw, 32.3%);
  }
}
/* Desktop - 1300px (Parallax Effect) */
@media only screen and (min-width: 81.25rem) {
  #reviews-263 {
    background: url("/assets/images/review.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }
  #reviews-263 .cs-background {
    z-index: -1;
  }
  #reviews-263 .cs-background img {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-263 .cs-background:before {
    opacity: 0.9;
  }
  body.dark-mode #reviews-263 .cs-background:after {
    opacity: 0.1;
  }
}
