/*-- -------------------------- -->
<---           Pricing          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1753 {
    padding: var(--sectionPadding);
    /* 100px - 250px */
    padding-bottom: clamp(6.25rem, 13vw, 15.625rem);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #pricing-1753:before {
    /* static tiled pattern */
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.08;
    background: url("/assets/images/pattern.png");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-1753 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-1753 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pricing-1753 .cs-title {
    margin: 0;
    max-width: 23ch;
  }
  #pricing-1753 .cs-color {
    color: var(--primary);
  }
  #pricing-1753 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
  #pricing-1753 .cs-card-group {
    text-align: center;
    width: 100%;
    padding: 0rem clamp(1rem, 2vw, 2rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #pricing-1753 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #pricing-1753 .cs-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #pricing-1753 .cs-h3 {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #pricing-1753 .cs-h2 {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: none;
  }
  #pricing-1753 .cs-package {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #pricing-1753 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    opacity: 0.8;
  }
  #pricing-1753 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    bottom: -0.125rem;
    left: 0rem;
    z-index: -1;
  }
  #pricing-1753 .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1753 .cs-wrapper {
    flex-direction: row;
    align-items: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 3vw, 1.25rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-1753 {
    background-color: var(--dark);
  }
  body.dark-mode #pricing-1753 .cs-title,
  body.dark-mode #pricing-1753 .cs-h3,
  body.dark-mode #pricing-1753 .cs-header,
  body.dark-mode #pricing-1753 .cs-item-text,
  body.dark-mode #pricing-1753 .cs-package {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-1753 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #pricing-1753 .cs-light {
    display: none;
  }
  body.dark-mode #pricing-1753 .cs-color {
    color: #E4C974;
  }
  body.dark-mode #pricing-1753 .cs-dark {
    display: block;
  }
}
/*-- -------------------------- -->
<---           Pricing          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1754 {
    padding: var(--sectionPadding);
    /* 100px - 250px */
    padding-bottom: clamp(6.25rem, 13vw, 15.625rem);
    background-color: var(--medium);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #pricing-1754 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-1754 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pricing-1754 .cs-title {
    color: var(--bodyTextColorWhite);
    margin: 0;
    max-width: 23ch;
  }
  #pricing-1754 .cs-color {
    color: #E4C974;
  }
  #pricing-1754 .cs-charge {
    color: #f7f7f7;
  }
  #pricing-1754 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
  #pricing-1754 .cs-card-group {
    text-align: center;
    width: 100%;
    padding: 0rem clamp(1rem, 2vw, 2rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #pricing-1754 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #pricing-1754 .cs-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #pricing-1754 .cs-h3 {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #pricing-1754 .cs-h2 {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: none;
  }
  #pricing-1754 .cs-package {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #pricing-1754 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #pricing-1754 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    bottom: -0.125rem;
    left: 0rem;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1754 .cs-wrapper {
    flex-direction: row;
    align-items: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 3vw, 1.25rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-1754 {
    background-color: var(--medium);
  }
  body.dark-mode #pricing-1754 .cs-graphic {
    opacity: 0.1;
  }
}
