
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-48 {
        padding: var(--sectionPadding);
        padding-top: 0;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1rem);
            margin: 0;
        }

        .cs-image-group {
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: ~"min(1.1vw, 1em)";
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            position: relative;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .cs-row-1 {
            .cs-picture-1 {
                height: (567/16em);
            }

            .cs-picture-2 {
                height: (629/16em);
            }

            .cs-picture-3 {
                height: (512/16em);
            }
        }

        .cs-row-2 {
            .cs-picture-1 {
                height: (492/16em);
            }

            .cs-picture-2 {
                height: (517/16em);
            }

            .cs-picture-3 {
                height: (629/16em);
            }
        }

        .cs-row-3 {
            .cs-picture-1 {
                height: (625/16em);
            }

            .cs-picture-2 {
                height: (452/16em);
            }

            .cs-picture-3 {
                height: (629/16em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-48 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1450 {
        padding: var(--sectionPadding);
        padding-top: 0;
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-1450 {
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1026 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (738/16rem);
            /* 24px - 48px */
            padding: (48/16rem) clamp(1.5rem, 3.5vw, 3rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            
            border-top: none;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
            /* frees the :after element from the cs-title parent. It's now relative to the cs-content parent */
            display: contents;
            &:after {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                /* 20px - 32px */
                margin: clamp(1.25rem, 3vw, 2rem) 0;
                background: #c7c7c7;
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: (20/16rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 28px - 40px */
            gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-item {
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            z-index: 1;

            &:before {
                /* grey line */
                content: "";
                width: 60%;
                height: 1px;
                background-image: linear-gradient(
                    90deg,
                    #c7c7c7,
                    #c7c7c7 75%,
                    transparent 75%,
                    transparent 100%
                );
                background-size: 6px 6px;
                border: none;
                opacity: 1;
                display: block;
                order: 2;
                z-index: -1;
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            width: auto;
            max-width: 70%;
            color: var(--headerColor);
            display: block;
            flex: none;
        }

        .cs-price {
            /* 25px - 31px */
            font-size: clamp(1.6525rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--primary);
            order: 3;
        }

        .cs-menu-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            height: 72vw;
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1em;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1026 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 66%;
            
            border-left: none;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-menu-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            max-width: (542/16rem);
            max-height: 1000%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1026 {
            .cs-title,
            .cs-header,
            .cs-menu-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-menu-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-378 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-image {
            border-radius: (20/16rem);
            width: 46%;
            /* 150px - 300px */
            height: clamp(9.375rem, 39vw, 18.75rem);
            max-width: (350/16rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-378 {
        .cs-image {
            width: 23.8%;
            /* 300px - 400px */
            height: clamp(18.75rem, 30vw, 25rem);
            aspect-ratio: 1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-378 {
            background-color: var(--dark);
            .cs-topper {
                color: var(--primary);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1636 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 70%;
            background: #2B1205;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
        }
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 9vw, 6.25rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex {
            max-width: (608/16rem);
        }
    
        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            opacity: .8;
            color: var(--bodyTextColorWhite);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            width: 100%;
            height: 90vw;
            /* 340px - 620px */
            max-height: clamp(21.25rem, 45vw, 38.75rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1em;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1636 {
        &:before {
            height: 63%;
        }
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: (40/16rem);
        }

        .cs-flex {
            width: 50%;
            text-align: left;
            max-width: (608/16rem);
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1636 {
            &:before {
                background-color: #1E0D04
            }
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-263 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (40/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            max-width: (380/16rem);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 20px - 25px */
            gap: clamp(1.25rem, 3vw, 1.5rem);
        }

        .cs-icon {
            /* 24px - 30px */
            width: clamp(1.5rem, 2vw, 1.875rem);
            height: auto;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-name {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* brown overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primaryLight);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-263 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            row-gap: (46/16rem);
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

/* Desktop - 1300px (Parallax Effect) */
@media only screen and (min-width: 81.25rem) {
    #reviews-263 {
        background: url("/assets/images/review.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 1;
        .cs-background {
            z-index: -1;
            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-263 {
            .cs-background {
                &:before {
                    opacity: 0.9;
                }
                &:after {
                    opacity: 0.1;
                }
            }
        }
    }
}

                                

                                


                                
                                

                                
                                

                                
                                

                                
                                

                                

                                

                                
                                
