---
title: 'Chokdee Thai Cuisine | Thai Restaurant | Ilkley'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Chokdee Thai Cuisine</span>
            <h2 class="cs-title">Fresh, Authentic Thai Flavours in the Heart of Ilkley</h2>
            <p class="cs-text">
                Step into Chokdee Thai Cuisine and embark on a culinary journey. Our restaurant brings the vibrant flavors and warm hospitality of Thailand to the Yorkshire Dales. With a passion for authentic tastes and a dedication to quality, we offer an unforgettable dining experience. 
            </p>
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
                <img loading="lazy" decoding="async" src="/assets/images/hero.jpg" alt="thai foods" width="842" height="737" aria-hidden="true">
            </picture>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    1000's
                    <span class="cs-desc">Happy Diners</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    4.8/5
                    <span class="cs-desc">Google Rating</span>
                </span>
            </div>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our menu</span>
            <h2 class="cs-title">Discover Our Thai Specialties</h2>
            <p class="cs-text">
                At Chokdee, we blend fresh local ingredients with quality Thai imports. Our kitchen is stocked with fragrant lemongrass, fiery chilies, and aromatic spices straight from Thailand. These authentic elements, combined with daily fresh produce, create truly genuine Thai flavors. From tangy tom yum to rich massaman curry, each dish offers a taste of Thailand here in the beautiful town of Ilkley.
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1026">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Chef Recommended</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Pineapple Fried Rice</span>
                        <span class="cs-price">£16.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Stir-fried rice with chicken, prawn, onion, garlic, curry powder, turmeric powder, carrot, green pea, raisin, and pineapple, topped with cashew nut and coriander.
                    </p>
                </li>
                
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sirloin Beef with Authentic Thai Sauce</span>
                        <span class="cs-price">£18.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Served with chips or salad. Choose from either Peppercorn Sauce or Thai Spicy Sauce.
                    </p>
                </li>
                
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Chicken Katsu with Red Curry Sauce</span>
                        <span class="cs-price">£14.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Japanese-style fried chicken made with Panko breadcrumbs served with Thai red curry sauce.
                    </p>
                </li>
                
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Tamarind Duck</span>
                        <span class="cs-price">£16.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Roasted duck breast cooked in a tamarind sauce, topped with fried crispy shallots and cashew nuts, served with crispy rice noodles.
                    </p>
                </li>
                
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sea Bass with Three-Flavor Sauce</span>
                        <span class="cs-price">£16.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Crispy deep-fried sea bass filet with Three-Flavor sauce, onion, and pineapple, topped with a crispy basil leaf.
                    </p>
                </li>
                
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sea Bass Chu-Chee Curry</span>
                        <span class="cs-price">£17.95</span>
                    </h3>
                    <p class="cs-menu-text">
                        Deep-fried sea bass filet served with Thai Chu-Chee curry, cooked with coconut milk, red curry paste, and Kaffir lime leaf.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/menu/lamb-shank-m2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/menu/lamb-shank.webp">
            <img loading="lazy" decoding="async" src="/assets/images/menu/lamb-shank.jpg" alt="steak" width="542" height="743">
        </picture>
    </div>
</section>
                                
       
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Restaurant</span>
            <h2 class="cs-title">Inside Chokdee Thai Cuisine</h2>
            <p class="cs-text">
                Chokdee blends Thai charm with Yorkshire warmth. We accommodate intimate dinners and larger gatherings of up to 40 people. Take a peek inside our cozy Ilkley restaurant before your visit.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/1-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/3-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/4-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/5-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/6-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/6.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/7-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/7.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/8-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/8.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/9-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/9.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                
             
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1636">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">From Bangkok's Finest Kitchens to Ilkley: Our Flavorful Journey</h2>
            </div>
            <div class="cs-flex">
                <h3 class="cs-h3">
                    A Taste of Thailand, Crafted with Love
                </h3>
                <p class="cs-text">
                    We are Mod and Eak, and Chokdee is the realization of our dream. With roots in Thailand's culinary scene, we bring over two decades of experience from prestigious establishments. Our journey began at Bussaracum Thai Cuisine, one of Thailand's oldest and first fine dining Thai restaurants, where Mod started her training as a chef and where we first met. Since 2008, we've been delighting UK diners with authentic Thai flavors. In December 2022, we took the leap to open Chokdee, blending our expertise with our passion for Thai cuisine. Join us to experience the warmth and flavors of Thailand, right here in Ilkley.
                </p>
                <a href="/about/" class="cs-button-solid">About Us</a>
            </div>
        </div>  
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/about-us-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/about-us.webp">
            <img loading="lazy" decoding="async" src="/assets/images/about-us.jpg" alt="meeting" width="1280" height="620">
        </picture>
    </div>
</section>


                                
                                
 
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-263">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">What Our Guests Say</h2>
            <p class="cs-text">
                Don't just take our word for it - here's what our guests have to say about their Chokdee experience:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/yellow-quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    It was a really great meal and friendly, attentive service. We love thai food and this was perfect!
                </p>
                <span class="cs-name">- Andrew Fawcett</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/yellow-quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    If you are looking for a Thai taste, this restaurant is definitely recommended!!
                </p>
                <span class="cs-name">- Sirintip Raiviboon</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/yellow-quote.svg" alt="quote icon" width="30" height="24" loading="lazy" decoding="async">
                <p class="cs-item-text">
                    Really nice food, definitely recommend you try this place. The owners are very friendly, helpful and welcoming. <br>
                </p>
                <span class="cs-name">- Peter McDermott</span>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/review-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/review.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/review.jpg" alt="doctor" width="275" height="132">
    </picture>
</section>
                                
                                


  
{% endblock %}